include:
  - remote: "https://gitlab.com/opinionated-digital-center/gitlab-ci-templates/python-library/raw/v0.1.0/templates/.test-stage-job-setup.yml"
  - remote: "https://gitlab.com/opinionated-digital-center/gitlab-ci-templates/python-library/raw/v0.1.0/templates/.test-stage-py.yml"
  - remote: "https://gitlab.com/opinionated-digital-center/gitlab-ci-templates/python-library/raw/v0.1.0/templates/.test-stage-bdd.yml"
  - remote: "https://gitlab.com/opinionated-digital-center/gitlab-ci-templates/python-library/raw/v0.1.0/templates/.test-stage-format.yml"
  - remote: "https://gitlab.com/opinionated-digital-center/gitlab-ci-templates/python-library/raw/v0.1.0/templates/.test-stage-lint.yml"
  - remote: "https://gitlab.com/opinionated-digital-center/gitlab-ci-templates/python-library/raw/v0.1.0/templates/.test-stage-type.yml"
  - remote: "https://gitlab.com/opinionated-digital-center/gitlab-ci-templates/python-library/raw/v0.1.0/templates/.release-stage-job-setup.yml"
  - remote: "https://gitlab.com/opinionated-digital-center/gitlab-ci-templates/python-library/raw/v0.1.0/templates/.release-stage-semantic-release.yml"

variables:
  GIT_STRATEGY: clone

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "master" || $CI_COMMIT_BRANCH == "release"
      when: always
    - if: $CI_MERGE_REQUEST_ID
      when: always
    - if: $CI_COMMIT_TAG
      when: never

default:
  image: python:3.9

stages:
  - test
  - release

#################################################################
# test stage jobs
#################################################################

py38:
  extends: .test-stage-py
  image: python:3.9

py37:
  extends: .test-stage-py
  image: python:3.9

py36:
  extends: .test-stage-py
  image: python:3.9

bdd-py38:
  extends: .test-stage-bdd
  image: python:3.9
  artifacts:
    paths:
      - cucumber-report.json
    when: always

bdd-py37:
  extends: .test-stage-bdd
  image: python:3.9

bdd-py36:
  extends: .test-stage-bdd
  image: python:3.9

format:
  extends: .test-stage-format

lint:
  extends: .test-stage-lint

type:
  extends: .test-stage-type

#################################################################
# release stage jobs
#################################################################

semantic_release:
  extends: .release-stage-semantic-release
